<style>
.button {
      /*コレ*/border-radius: 100px;
    display: block;
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    background: #6fa1ff;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
    white-space: nowrap;
}
.button-container {
  display: flex;        /* 子要素を横並びにする */
  gap: 10px;            /* ボタン間の間隔 */
}
  #map {
    height: 400px;
    width: 100%;
  }
</style>






<h1>お店マップ</h1>
<div class="button-container">
<button onclick="moveCenter1()"class="button">北九州市</button>
<button onclick="moveCenter2()"class="button">福岡市</button>
<button onclick="moveCenter3()"class="button">飯塚市</button>
</div>
<div id="map">



<script>
let map;
let geocoder;
let marker;
const reviews = <%= raw @reviews.to_json(only: [:id, :storename, :latitude, :longitude, :image],methods: [:tags, :image_url]) %>;
let infoWindow




function initMap() {
  
  

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 33.64499937514977, lng: 130.7135560801933 },
    zoom: 12,
    styles: [
　　　 {
        featureType: "poi",
        stylers: [{ visibility: "off" }]
      },
      {
        featureType: "poi.business",
        stylers: [{ visibility: "off" }]
      },
      {
        featureType: "poi.park",
        stylers: [{ visibility: "off" }]
      },
    ]
  });
  
    reviews.forEach(r => {
    const position = { lat: r.latitude, lng: r.longitude };
    const marker = new google.maps.Marker({
      position: position,
      map: map,
        icon: {
      url: "https://maps.google.com/mapfiles/ms/icons/red-dot.png",
      labelOrigin: new google.maps.Point(0, 35) // ← 文字を下に
    　},
      label: {
    　text: r.storename,
    　color: "black",
    　fontSize: "10px",
    　fontWeight: "bold"
  　　　}});
      const tagsHTML = r.tags && r.tags.length > 0
    ? '<p> ' +  r.tags.join('<br>')  + '</p> '
    : 'なし';
    const imageHTML = r.image_url
  ? `<img src="${r.image_url}" style="max-width:200px; height:auto; border-radius:8px; margin-bottom:5px;">`
  : '';
    const infoWindow = new google.maps.InfoWindow({
  content: `
     <div style="max-width:220px;">
      <h3>${r.storename}</h3>
      ${imageHTML}
      <h4>おすすめポイント</h4>
      ${tagsHTML}
    </div>
  `
});

  marker.addListener('click', function() {
    infoWindow.open(map, marker);
  });
  
      
  });


  
  
  
  
}

function moveCenter1() {
  map.setCenter({ lat: 33.8869, lng: 130.8828 }); // 小倉駅
}
function moveCenter2() {
  map.setCenter({ lat: 33.589825611450586, lng: 130.42086936230928 }); // 小倉駅
}
function moveCenter3(){
  map.setCenter({lat: 33.64499937514977, lng: 130.7135560801933});
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm8-NU6BEgUIUIXcfxKyjYHyjOb89c4gA&callback=initMap" async defer></script>

